.App {
  text-align: center;
}
.App header {
  padding: 25px;
  font-size: 50px;
  background-color: #1e3262;
  color: #ffe2ba;
  font-family: Lobster;
}
:root {
  font-family: 'Cuprum', sans-serif;
  color: #1e3262;
  background: #ffe2ba;
}

* {
  font-family: 'Cuprum', sans-serif;
  color: #1e3262;
  background: #ffe2ba;
}

article {
  background: #1e3262;
  padding: 25px;
  margin: 25px;
}
.en {

}

.vi {

}